/* utils */
:root {
    --blue: #255ee9;
    --white: white;
    --lightblue: #8ea1e1;
    --lightgrey: #f1f1f1;
}

/* Generics */
body {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    padding: var(--paddingm);
    color: black;
    background-color: var(--white);
    border-radius: 28px;
    margin: 10px;
}

.btn2 {
    background-color: #8ea1e1;
    color: var(--white);
    padding: var(--paddingl);
    border-radius: 28px;
    margin: 10px;
    font-size: 15px;

}

/* Utility */
.container {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--white);
    font-size: 12px;
}

p {
    line-height: 25px;
}

h2 {
    font-size: 40px;
    margin-bottom: var(--marginm);
}

h3 {
    font-size: 25px;
}

.transform {
    transform: rotate(180deg);
}

/* Header */
header {
    background-color: var(--blue);
    padding: 0 40px;
}

.header-container {
    display: flex;
    width: 80%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.img {
    display: flex;
}

.header-container>* {
    margin: 15px 0;
    flex-basis: 21%;
}

.header-container nav {
    flex-grow: 2;
}

.header-container nav>ul {
    text-align: center;
}

.header-container nav>ul>li {
    display: inline-block;

}

.header-container nav a {
    padding: 10px;
}

.login {
    text-align: right;
}

/* Main */

.main-body:nth-child(4),
.main-footer {
    background-color: var(--lightgrey);
}

/* jumbotron */
.jumbotron {
    display: flex;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 400px;
    padding: 40px;
}

.jumbotron>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
    max-width: 50%;
    flex-grow: 1;
    color: white;
}

h1 {
    font-size: 45px;
}

.jumbotron>section>p {
    text-align: center;
}

.btn-space :first-child {
    background-color: white;
    color: #000;
    font-weight: 600;
}

.btn-space> :last-child {
    background-color: #23272a;
    color: white;
}

/* main-body */
.main-body {
    padding: 40px;
    /* margin: 100px 0; */
}

.wave-1hkxOo {
    display: block;
    color: var(--lightgrey);
}

.main-body>section {
    width: 80%;
    display: flex;
    min-height: 400px;
    margin: 0 auto;
    align-items: center;
    gap: 50px;
    padding: 100px 0px;
}

.main-body>section>.main-col {
    width: calc(100% / 3);
    min-width: 300px;
}

.main-body>section>.side-col {
    width: calc(100% / 3 * 2);
    min-width: 300px;
}

/* main-footer sezione grande e verde */
.main-footer {
    padding: 40px;
    /* margin: 200px 0px 0px; */
}

.main-footer>section {
    width: 80%;
    display: flex;
    min-height: 600px;
    margin: 0 auto;
    text-align: center;
}

.main-footer>section>.footer-main-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-main-col h3 {
    margin-top: -10px;

}

.footer-main-col .btn2 {
    margin: 40px;
}

/* Footer */
footer {
    padding: 15px 40px 0px;
    background-color: #23272a;
}

/* footer-header */
.footer-main {
    padding-bottom: 20px;
    margin-top: 20px;
}

.footer-main>section {
    width: 80%;
    display: flex;
    min-height: 400px;
    margin: 0 auto;
    color: white;
    border-bottom: 2px solid #424242;

}

.footer-main .small-col {
    display: flex;
    width: calc(100% / 3 * 2);
}

.small-col>div {
    padding: 10px;
    width: 25%;
}

.large {
    width: calc(100% / 3);
    vertical-align: middle;
    padding: 10px;
}

.footer-main h3 {
    color: #6d84d0;

}

.large>i {
    font-size: 18px;
    padding: 10px;
}

.large img {
    margin: 10px 0;
    width: 20px;
    vertical-align: middle;
}

.large span {
    font-size: 11px;
}

.small-col ul>li {
    padding: 5px;
}

.small-col ul>li:first-child {
    color: #6d84d0;
}

/* footer-footer */
.footer-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 80px;
    margin: 0 auto;
}

.footer-container>section {
    margin-top: auto;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}

.footer-container>.img {
    align-content: center;
    margin: 10px 0;
    flex-basis: 21%;
    padding: 2px;
}

.footer-container .btn {
    color: white;
    background-color: #8ea1e1;
}