/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
svg,
picture,
video {
    max-width: 100%;
}

/* variables */
:root {
    --primary: ;
}

/* Generics */
body {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    padding: 8px 12px;
    color: black;
    background-color: white;
    border-radius: 28px;
    margin: 10px;
}

.btn2 {
    background-color: #8ea1e1;
    color: white;
    padding: 13px 18px;
    border-radius: 28px;
    margin: 10px;
    font-size: 15px;

}

/* Utility */
.container {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

p {
    line-height: 25px;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
}

/* Header */
header {
    background-color: #255ee9;
    padding: 0 40px;
}

.header-container {
    display: flex;
    width: 80%;
    height: 80px;
    align-items: center;
    margin: 0 auto;
}

.header-container .img {
    display: flex;
}

.header-container>* {
    align-content: center;
    margin: 15px 0;
    flex-basis: 21%;
}

.header-container nav {
    flex-grow: 2;
    text-align: center;
}

.header-container nav a {
    padding: 10px;
}

.login {
    text-align: right;
}

/* Main */

.main-container>:nth-child(even) {
    background-color: white;
}

/* jumbotron */
.jumbotron {
    display: flex;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 400px;
    padding: 40px;
}

.jumbotron>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
    max-width: 50%;
    flex-grow: 1;
    color: white;
}

h1 {
    font-size: 45px;
}

.jumbotron>section>p {
    text-align: center;
}

.btn-space :first-child {
    background-color: white;
    color: #000;
}

.btn-space :last-child {
    background-color: #23272a;
    color: white;
}

/* main-body */
.main-body {
    padding: 40px;
    margin: 100px 0;
}

.main-body>section {
    width: 80%;
    display: flex;
    min-height: 400px;
    margin: 0 auto;
    align-items: center;
    gap: 50px;
}

.main-body>section>.main-col {
    width: calc(100% / 3);
    min-width: 300px;
}

.main-body>section>.side-col {
    width: calc(100% / 3 * 2);
    min-width: 300px;
}

/* main-footer sezione grande e verde */
.main-footer {
    padding: 40px;
    margin: 200px 0px 80px;
}

.main-footer>section {
    width: 80%;
    display: flex;
    min-height: 600px;
    margin: 0 auto;
    text-align: center;
}

.main-footer>section>.footer-main-col {
    flex-grow: 1;
}

.footer-main-col h3 {
    margin-top: -20px;
    margin-bottom: 60px;
}

.footer-main-col .btn2 {
    margin: 40px;
}

/* Footer */
footer {
    padding: 15px 40px 0px;
    background-color: #23272a;
}

/* footer-header */
.footer-main {
    padding-bottom: 20px;
}

.footer-main>section {
    width: 80%;
    display: flex;
    min-height: 400px;
    margin: 0 auto;
    border: 2px dashed black;
}

.footer-main .small-col {
    display: flex;
    flex-grow: 2;
    background-color: green;
}

.small-col>div {
    width: 25%;
    border: 2px dashed white;
}

.large {
    flex-grow: 1;
    background-color: palevioletred;
    border-right: 2px dashed black;
}

/* footer-footer */
.footer-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 80px;
    margin: 0 auto;
}

.footer-container>section {
    margin-top: auto;
    display: flex;
    padding: 10px;
    background-color: aqua;
    justify-content: space-between;

}

.footer-container>section>* {
    background-color: lightgrey;
    border: 2px dashed black;
    padding: 2px;
}

hr {
    margin: 0 auto;
    max-width: 60%;
    color: grey;
}