/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
svg,
picture,
video {
    max-width: 100%;
}

/* variables */
:root {
    --paddings: 2px 8px;
    --paddingsm: 5px 10px;
    --paddingm: 10px 15px;
    --paddingl: 13px 18px;
    --margins: 10px;
    --marginm: 20px;
    --marginl: 40px;
}